[Unit]
Description = User Service
[Service]
User=roboshop
Environment=MONGO=true
Environment=REDIS_HOST=172.31.83.4
Environment=MONGO_URL="mongodb://mongo.srilearndevops.online:27017/users"
ExecStart=/bin/node /app/server.js
SyslogIdentifier=usersudo

[Install]
WantedBy=multi-user.target